---
layout: home-layout-carousel
title: Adassa Store - All your personal and business needs
description: Welcome to the home of Adassa Store where you can find a product or service to meet your personal and business needs.
last_modified_at: 2025-05-03
---

<section>
    <div class="hero">
        <h1>
            Welcome!
        </h1>
        <p>
            Find everything you need for your freshwater aquariums and ponds — from 
            beginner kits to expert supplies. Dive into our carefully curated collection!
        </p>
    </div>
</section>

<section>
    <div class="featured-products">
        <h1>
            Featured Products
        </h1> 
    </div>
    <div class="products">
        {% for product in site.data.products %}
        {% if product.categories contains 'Ornamental Fish' %}
        <div class="centred">

            <h2 class="title">
                <a href="{{product.link}}">{{product.name}}</a>
            </h2>

            <a href="{{product.link}}">
                <img class="img-fluid mb-3 post-feature-image" 
                     alt="{{product.name}}"
                     src="{{product.image}}">
            </a>

            <div class="action centred">
                <a href="{{ product.link }}" class="btn">Buy</a>
            </div>

        </div>
        {% endif %}
        {% endfor %}                
    </div>          
</section>

<section>
    <div class="recent-articles">
        <h1>
            Recent Articles
        </h1>  
        {% for post in site.posts limit:3 %}
        <p>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </p>
        <p id="post-date">
            Posted on {{ post.date | date_to_string }}
        </p>
        <p>
            {{ post.description }}
        </p>
        <hr/>
        {% endfor %}
    </div>
</section>