---
layout: home-layout
title: Ornamental Fish | Good quality ornamental fish for your aquarium and pond – Adassa Store
description: Shop now at Adassa Store for good quality ornamental fish for your aquarium and pond.
last_modified_at: 2026-01-24
---

<section id="featured-products">
    <div class="centred">
        <h1 class="mt-5" 
            style="font-weight: bold;font-size: xx-large;color: darkgray;">
            Ornamental Fish
        </h1> 
    </div>
    <div class="products">
        {% for product in site.data.products %}
        {% if product.name contains 'Ornamental Fish' or product.categories contains 'Ornamental Fish' %}
        <div class="centred">

            <h2 class="title">
                <a href="{{product.link}}">{{product.name}}</a>
            </h2>

            <a href="{{product.link}}">
                <img class="img-fluid mb-3 post-feature-image" 
                     alt="{{product.name}}"
                     src="{{product.image}}">
            </a>

            <div class="centred action">
                <a href="{{ product.link }}" class="btn">Buy</a>
                <a href="{{ product.order }}" class="btn">Order</a>
                <a href="{{ product.detail }}" class="btn">Detail</a>
            </div>

        </div>
        {% endif %}
        {% endfor %}                
    </div>          
</section>
