---
layout: home-layout
title: Fish Food | High-Quality Nutrition for All Your Fish – Adassa Store
description: Browse premium fish food for goldfish, bettas, cichlids, and more. Keep your fish healthy with trusted nutrition from Adassa Store.
last_modified_at: 2025-05-03
---

<section id="featured-products">
    <div class="centred">
        <h1 class="mt-5" 
            style="font-weight: bold;font-size: xx-large;color: darkgray;">
            Fish Food
        </h1> 
    </div>
    <div class="products">
        {% for product in site.data.products %}
        {% if product.name contains 'Fish Food' or product.categories contains 'Fish Care' %}
        <div class="centred">

            <h2 class="title">
                <a href="{{product.link}}">{{product.name}}</a>
            </h2>

            <a href="{{product.link}}">
                <img class="img-fluid mb-3 post-feature-image" 
                     alt="{{product.name}}"
                     src="{{product.image}}">
            </a>

            <div class="action centred">
                <a href="{{ product.link }}" class="btn">Buy</a>
                <a href="{{ product.order }}" class="btn">Order</a>
                <a href="{{ product.detail }}" class="btn">Detail</a>
            </div>

        </div>
        {% endif %}
        {% endfor %}                
    </div>          
</section>
