:root {
    --theme-text: black;
    --theme-text-dull: darkgray;
    --theme-background-color: white;
    --theme-header-color: whitesmoke;
    --theme-footer-color: seashell;
    --theme-color: white;
    --theme-color-hover: steelblue;
    --theme-gradient-color-1: seashell;
    --theme-gradient-color-2: steelblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--theme-text);
    text-decoration: none !important;
}

html {
    font-size: 10px;
    background-color: var(--theme-color);
}

body {
    background-color: var(--theme-color);
}


.centred {
    text-align: center;

}

.list-group-item {
    background-color: var(--theme-color);
    border: none;
}