<!doctype html>
<html lang="en">
    {% include head.html %}  
    <body>
        {% include header.html %}    
        <!-- Begin carousel -->
        <div class="carousel">
            <div class="carousel-slides">
                <img src="../assets/media/slider/welcome.png" alt="Slide 1">
                <img src="../assets/media/slider/welcome900x600.png" alt="Slide 2">
                <img src="../assets/media/slider/welcome900x600.png" alt="Slide 3">
            </div>
        </div>
        <!-- End carousel -->
        <main>
            {{ content }} 
        </main>
        {% include footer.html %}
    </body>  
</html>
