<!doctype html>
<html lang="en">
    {% include head.html %}  
    <body>
        {% include header.html %}    
        <!-- Begin carousel -->
        <div id="homeCarousel" 
             class="carousel slide" 
             data-bs-pause="false"
             data-ride="carousel"
             style="margin-top: -20px;">
            <ol class="carousel-indicators">
                <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#homeCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">               
                <div class="carousel-item active">
                    <a href="/sections/fish-care" >
                        <img src="../assets/media/slider/welcome1920x700.jpg" 
                             class="d-block w-100" 
                             alt="FISH CARE">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <a href="/sections/fish-care" >
                            <h2 class="section-heading">
                                FISH CARE
                            </h2>
                            <h3 class="section-heading">
                                Find everything you need for the care of your fish!
                            </h3>
                        </a>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="/sections/fish-care">
                        <img src="../assets/media/slider/pond-fish-plants1920x700.jpg" 
                             class="d-block w-100" 
                             alt="AQUARIUMS AND PONDS">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <a href="/sections/fish-care">
                            <h2 class="section-heading">
                                AQUARIUMS AND PONDS
                            </h2>
                            <h3 class="section-heading">
                                Find everything you need for your freshwater aquariums and ponds!
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-target="#homeCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#homeCarousel" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>
        </div>
        <!-- End carousel -->
        <main>
            {{ content }} 
        </main>
        {% include footer.html %}
    </body>  
</html>
